@font-face {
  font-family: 'Danjo-bold-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  overflow-y: scroll;
}

.movie-container {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 50px;
  min-width: 850px;
}

.list-title {
  width: 90%;
  height: 15%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-title > span {
  text-align: center;
  vertical-align: middle;
}

.movie-category {
  width: 100%;
  min-width: 850px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.custom-select {
  position: relative;
  width: 200px; /* 원하는 너비로 설정 */
  height: 50px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비와 높이를 계산 */
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비와 높이를 계산 */
  width: 100%; /* 부모 요소의 너비에 맞게 조정 */
  overflow: hidden; /* 텍스트나 내용이 넘칠 경우 숨김 */
}

.selected img {
  text-align: center;
  vertical-align: middle;
  max-width: 20px; /* 이미지 크기를 제한 */
  max-height: 20px; /* 이미지 크기를 제한 */
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}

.options.show {
  max-height: 200px; /* 보여줄 옵션의 최대 높이 설정 */
  opacity: 1;
  overflow-y: auto; /* 옵션이 많을 경우 스크롤 */
}

.options li {
  padding: 10px;
  cursor: pointer;
}

.options li:hover {
  background-color: #f1f1f1;
}

.icoArrow img {
  transition: transform 0.3s ease;
  max-width: 25px; /* 이미지 크기를 제한 */
  max-height: 25px; /* 이미지 크기를 제한 */
}

.rotated {
  transform: rotate(180deg);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  width: 80%;
  padding: 20px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; /* 영화 포스터 및 제목 컨테이너의 너비 */
  cursor: pointer;
}

.movie-poster {
  width: 100%;
  height: 600px;
  background-color: antiquewhite;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-title {
  font-family: 'Danjo-bold-Regular';
  font-weight: bold;
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
  color: #f1f1f1;
  text-shadow: -1px 0px #111111, 0px 1px #111111, 1px 0px #111111, 0px -1px #111111;
}

/* 화면이 992px 이하일 때: 2개의 아이템을 가로로 배치 */
@media (max-width: 992px) {
  .movie-list {
    justify-content: space-around; /* 포스터 사이 간격 조정 */
  }
}

/* 화면이 768px 이하일 때: 1개의 아이템을 가로로 배치 */
@media (max-width: 768px) {
  .movie-list {
    flex-direction: column; /* 포스터가 한 줄로 쌓이도록 설정 */
    align-items: center;
  }
}


/* 모달창 */

/* 모달창 관련 설정 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay.show {
  display: flex; /* 모달이 열리면 flex로 설정 */
}

.detail-container {
  position: relative;
  background-color: rgba(241, 241, 241, 0.9);
  color:#111111;
  padding: 20px;
  width: 70%;
  height: 70vh;
  box-shadow: -1px 0px #353535, 0px 1px #353535, 1px 0px #353535, 0px -1px #353535;
  transition: transform 0.5s ease, opacity 0.5s ease;
  min-width: 850px;
  min-height: 600px;
  max-width: 1500px;
  max-height: 700px;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #bb1010;
}

.modal-overlay.show .detail-container {
  transform: translateY(50px);
  opacity: 1;
}

.detail-content {
  color:#111111;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 850px;
  min-height: 600px;
  max-width: 1500px;
  max-height: 700px;
}

.movie-infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#detailMovieName {
  font-size: 40px;
  font-family: 'Danjo-bold-Regular';
  font-weight: bold;
}

#detailMovieEngName{
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

.detail-infomation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  gap: 25px;
}

.detail-bottom {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.my-Evaluation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  margin: 0 auto;
  text-align: left;
  vertical-align: middle;
  width: 50%;
}

#intro-text {
  padding: 0px 10px;
  font-family: 'Danjo-bold-Regular';
  color: #111111;
  font-size: 32px;
  align-self: flex-start;
  text-align: center;
}

#detailRating {
  font-family: 'Danjo-bold-Regular';
  font-size: 32px;
  text-align: left;
  font-weight: bold;
}

.ddaom {
  display: flex;
  align-items: flex-start;
  font-family: 'Danjo-bold-Regular';
  font-size: 40px;
  font-weight: bold;
}

#detailComment {
  font-family: 'Danjo-bold-Regular';
  align-self: center;
  font-size: 28px;
  text-align: left;
  font-weight: 100;
}

#detailDescription {
  font-family: 'Noto Sans KR';
  text-align: left;
  word-wrap: break-word;
}

.movie-etc {
  position: relative;
  font-family: 'Noto Sans KR';
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-title {
  width: 100px;
  color: #f1f1f1;
  background-color: #111111;;
  font-family: 'Noto Sans KR';
  font-size: 20px;
  text-align: center;
}

.ofsummary {
  align-self: flex-start;
}

.ofgotosee {
  width: 100px;
  height: auto;
  padding: 10px;
  color: #f1f1f1;
  background-color: #323232;
  font-family: 'Noto Sans KR';
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.ofgotosee:hover {
  background-color: #bb1010;
  transition: 0.5s ease;
}

#summary {
  font-family: 'Noto Sans KR';
  text-align: left;
  word-wrap: break-word;
}